.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.logo-1 {
    width 35px;
    height: 35px;
}

#ovo {
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
    background-color: darkolivegreen;
    font-family: 'Press Start 2P', cursive;
    color: antiquewhite
}

.pic {
    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer.page-footer {
    background-color: darkolivegreen;
    !important
}

.press {
    font-family: 'Press Start 2P', cursive;
}